/* GENERAL ELEMENTS */
body{
	/*background-color: #F1F1F1;*/
}


/* TOP NAVIGATION */

.navbar-default{
	background: #23282d;
	border-color: transparent;
}

.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	min-height: 15px;
}

.navbar-brand img{
	width: 100px;
}

.navbar-brand{
	height: 5px;
	padding: 5px 15px;
	
}

.navbar-default .navbar-nav > li > a {
	/*color: #eee;*/
}

@media (min-width: 768px){
	.navbar-nav > li > a{
		padding-top: 5px;
	}
}

@media (min-width: 768px){
	.navbar-nav > li > a {
		padding-top: 5px;
		padding-bottom:5px; 
	}
}

/* SIDEBAR */
.sidebar {
    /*position: fixed;*/
    /*float: left;*/
    /*top: 32px;*/
    min-height: 80vh;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*background-color: #23282d;*/
    border-right: 1px solid #eee;
    color: #878787;
}

.nav-sidebar li a{
	color: #878787;
	text-decoration: none;
}

.nav-sidebar-seperator{
	border-bottom: 1px solid #E7E7E7; 
	font-weight: 500;
}


.nav-sidebar li:hover{
	background-color: #F9F9F9;
	cursor: pointer;
}
.nav-sidebar-active{
	/*background-color: #E7E7E7;*/
		background-color: #FDF8FF;
}

.nav-sidebar-second-item{
	padding-left: 40px!important;
}

.nav-sidebar li{
	list-style: none;
	padding: 10px 0px 10px 20px ;
}

.sidebar ul{
	padding-left: 0px;
}


/* CATEGORY */
.category-index h1{
	/*margin-top: 0px;*/
}

.admin-table{
    background: #fff;
    padding: 10px;
    border: 1px solid #E5E5E5;
}

.widget-breadcrums{
	padding-top: 20px;
}

form{
	margin-bottom: 100px;
}


